@font-face {
font-family: "B Davat";
src: url("ArbFONTS-BDavat.ttf");
}

@font-face {
font-family: "AvenirNext";
src: url("AvenirNextLTPro-Regular.otf");
}

body{
  background: url('marc-schulte-D4ctZEF3Te4-unsplash.jpg');
  background-size: cover;
  color: #808080;
  font-family: "AvenirNext", sans-serif;
}

.container{
  height: 600px;
  position: relative;
}

.main {
  width: 800px;
  text-align: center;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  color: #cccccc;
}

h2 {
  font-family: "B Davat", sans-serif;
  color: #999999;
}
